* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  display: grid;
  grid-template-columns: 300px  650px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(0, 100, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navbar .logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: -2;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  align-items: center;
}
.navbar a.active, .navbar a:hover {
 text-decoration:underline;
 }
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


footer {
  background: #003300;
  color: white;
  text-align: center;
  padding: 1rem;
}